*.pyc
.DS_Store

*.mha
*.dict
*.mat
*.out
*.json
*.txt
*.text
*.pkl
*.whl
dictionary_phi*.npy
mrf_dictconf*
mrf_sequence*
meas*
fullWarp_abs.nii.gz

mrf_dict*/
dico/*
wandb/*
optims/*
notebooks/*
data/*
plots/
work/
images/
volumes/
build/
dist/
mrfsim.egg-info/
shellscripts/
shellscripts/run_correct_maps.sh
